/* html,
body {
  margin: 0;
}
#container {
  width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-template-areas:
    "box1 box1 box1"
    "box2 box3 box3"
    "box2 . box4";
}
.item1 {
  background-color: blue;

  grid-area: box1;
}
.item2 {
  background-color: green;
  grid-area: box2;
}
.item3 {
  background-color: orange;
  grid-area: box3;
}
.item4 {
  background-color: yellow;
  grid-area: box4;
} */

* {
  margin: 0 auto;
  padding: 0;
}

#wrap {
  background-color: #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 600px;
}
.box {
  background-color: #fff;
  border: 1px solid #000;
}
